---
import Layout from '../../layouts/Layout.astro';
import User from '../../components/User.jsx';
const { name } = Astro.params;
---

<Layout>
    <User client:only="react" name={name} />
    <a href="/">
        <img src="/images/Vector.svg" alt="icon" class="vector-icon" />
    </a>
</Layout>

<style>
    .vector-icon {
        background: var(--global-color-primary3);
        padding: 5px 8px;
        border-radius: 8px;
        position: absolute;
        top: 25%;
        left: 6.5%;
    }

    .employee-init {
        display: grid;
    }

    @media only screen and (max-width: 800px) {
        .vector-icon {
            background: var(--global-color-primary3);
            padding: 5px 8px;
            border-radius: 8px;
            position: absolute;
            top: 12%;
            left: 8.5%;
        }
    }
</style>
