---
import Layout from '../../layouts/Layout.astro';
import Search from '../../components/Search.jsx';
---

<Layout>
    <div class="employee-init">
        <Search client:only="react" />
        <a href="/">
            <img src="/images/Vector.svg" alt="icon" class="vector-icon" />
        </a>
    </div>
</Layout>

<style>
    .vector-icon {
        background: var(--global-color-primary3);
        padding: 5px 8px;
        border-radius: 8px;
        position: absolute;
        top: 25%;
        left: 6.5%;
    }

    .employee-init {
        display: grid;
    }

    @media only screen and (max-width: 800px) {
        .vector-icon {
            background: var(--global-color-primary3);
            padding: 5px 8px;
            border-radius: 8px;
            position: absolute;
            top: 12%;
            left: 8.5%;
        }
    }
</style>

<script>
    import axios from 'axios';

    const res = await axios.get(
        `${import.meta.env.PUBLIC_API}department/ListAll`,
        {
            headers: {
                Accept: 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8',
                'Accept-Encoding': 'gzip, deflate, br',
                ' Accept-Languag': 'en-US,en',
                Connection: 'keep-alive',
                Host: 'localhost:8080',
                'Sec-Ch-Ua':
                    '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
                'Sec-Ch-Ua-Mobile': '?0',
                'Sec-Ch-Ua-Platform': '"Windows"',
                'Sec-Fetch-Dest': 'document',
                'Sec-Fetch-Mode': 'navigate',
                'Sec-Fetch-Site': 'none',
                'Sec-Fetch-User': '?1',
                'Sec-Gpc': '1',
                'Upgrade-Insecure-Requests': '1',
                'User-Agent':
                    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
            },
        }
    );
    const department = res.data;

    const employeeRes = await axios.get(
        `${import.meta.env.PUBLIC_API}employee/ListAll`
    );
    const employee = employeeRes.data;

    const teamleadRes = await axios.get(
        `${import.meta.env.PUBLIC_API}teamLead/ListAll`
    );
    const teamlead = teamleadRes.data;

    localStorage.setItem('department', JSON.stringify(department));
    localStorage.setItem('employee', JSON.stringify(employee));
    localStorage.setItem('teamlead', JSON.stringify(teamlead));
</script>
