---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="hero">
		<div class="hero-heading">
			<p class="welcome">welcome to</p>
			<h1 class="welcome-heading">Zakipoint Health Staff Portal</h1>
		</div>
		<img src="images/background.svg" alt="background" class="bg-img" />
	</div>
</Layout>

<style>
	.hero {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.hero-heading {
		margin: 46px 0;
		display: grid;
		gap: 0;
	}
	.welcome {
		margin: 0;
		position: absolute;
		width: 294px;
		height: 42px;
		left: 250px;
		top: 110px;

		font-family: 'Playfair Display';
		font-style: normal;
		font-weight: 500;
		font-size: 40px;

		letter-spacing: 0.12em;
		color: var(--global-color-primary3);
	}

	.welcome-heading {
		margin: 0;
		padding: 0;
		position: absolute;
		height: 240px;
		width: 378px;
		left: 250px;
		top: 147px;
		z-index: 10;
		font-family: 'Playfair Display';
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 80px;
		letter-spacing: 0.06em;
		color: var(--global-color-primary3);
	}

	.bg-img {
		position: absolute;
		height: 609px;
		width: max-content;
		left: 512px;
		top: 128px;
		border-radius: 0px;
	}
	@media only screen and (max-width: 800px) {
		.welcome {
			margin: 0;
			position: absolute;
			width: 388px;
			height: 47px;
			left: 24px;
			top: 149px;

			font-family: 'Playfair Display';
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 38px;
			color: var(--global-color-primary3);
		}

		.welcome-heading {
			position: absolute;
			width: 311px;
			height: 187px;
			left: 24px;
			top: 179px;

			font-family: 'Playfair Display';
			font-style: normal;
			font-weight: 600;
			font-size: 48px;
			line-height: 64px;
			color: var(--global-color-primary3);
		}
		.bg-img {
			position: absolute;
			width: 80%;
			height: 50%;
			left: 60px;
			top: 362px;
		}
	}

	@media only screen and (max-width: 400px) {
		.welcome {
			margin: 0;
			position: absolute;
			width: 188px;
			height: 27px;
			left: 24px;
			top: 149px;

			font-family: 'Playfair Display';
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 28px;
			color: var(--global-color-primary3);
		}

		.welcome-heading {
			position: absolute;
			width: 311px;
			height: 187px;
			left: 24px;
			top: 179px;

			font-family: 'Playfair Display';
			font-style: normal;
			font-weight: 600;
			font-size: 48px;
			line-height: 64px;
			color: var(--global-color-primary3);
		}
		.bg-img {
			position: absolute;
			width: 340px;
			height: 327px;
			left: 22px;
			top: 362px;
		}
	}
</style>
